body {
  font-family: Arial;
  text-align: center;
  background: #f2f6ff;
}

.camera-box {
  position: relative;
  width: 400px;
  margin: auto;
}

video,
canvas {
  width: 100%;
  border-radius: 10px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.status {
  margin: 15px;
  font-size: 18px;
  font-weight: bold;
}

.success {
  color: green;
}
.fail {
  color: red;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
}

table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}

img {
  width: 60px;
  border-radius: 5px;
}
.search-box {
  margin: 20px;
}

.search-box input {
  padding: 10px;
  font-size: 16px;
  width: 260px;
}

.search-result {
  margin: 15px;
  font-size: 16px;
}

.search-result img {
  margin-top: 10px;
  width: 180px;
  border-radius: 10px;
  border: 2px solid #ccc;
}
